html {
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
}


   //* SCROLLING PART *//

.vertical-section {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.one {
	background-color: salmon;
}

a {
	text-decoration: none;
	color: black;
}

main {
	overflow-x: hidden;
	display: flex;
	position: sticky;
	top: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

section {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4ch;
}

 //* END SCROLLING PART *//


.container-homepage-two {
    min-width: 100vw;
	min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 0fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    margin: 0 auto;

    [class^="item-"] {
        position: relative;
        overflow: hidden;
    }

    [class^="pillar-"] {
       position: absolute;
       overflow: hidden;
    }

    .item-one {
        grid-area: 2 / 2 / 3 / 4;

        .pillar-one {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0, 91% 100%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0, 91% 100%, 0 100%);
            -webkit-animation: breathing 4s ease-out infinite normal;
            animation: breathing 4s ease-out infinite normal;
            -webkit-font-smoothing: antialiased;
            overflow: hidden;
        }
    }
    
    .item-two {
        grid-area: 2 / 5 / 3 / 7;

        .pillar-two {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(9% 0, 100% 0%, 100% 0, 100% 100%, 0 100%);
        }
    }
    
    .item-three {
        grid-area: 3 / 2 / 4 / 4;

        .pillar-one {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0 0, 100% 0%, 91% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 91% 0, 100% 100%, 0 100%);
            animation: Leftbouncein 2s ease-in 0s 1 normal forwards;
        }
    }
    
    .item-four {
        grid-area: 3 / 5 / 4 / 7;

        .pillar-two {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0, 100% 100%, 9% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0, 100% 100%, 9% 100%);
        }
    }
    
    .item-five {
        grid-area: 4 / 2 / 5 / 4;

        .pillar-one {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0, 91% 100%, 0 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0, 91% 100%, 0 100%);
        }
    }
    
    .item-six {
        grid-area: 4 / 5 / 5 / 7;

        .pillar-two {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(9% 0, 100% 0%, 100% 0, 100% 100%, 0 100%);
        }
    }
    
    .item-seven {
        grid-area: 5 / 2 / 6 / 4;

        .pillar-one {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0 0, 100% 0%, 91% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0%, 91% 0, 100% 100%, 0 100%);
        }
    }
    
    .item-eight {
        grid-area: 5 / 5 / 6 / 7;

        .pillar-two {
            height: 100%;
            width: 100%;
            border-bottom: 100px solid #32557f;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0, 100% 100%, 9% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0, 100% 100%, 9% 100%);
        }
    }
}

//* ANIMATION EFFECTS **//

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}


@keyframes Leftbouncein {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(-48px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateX(-26px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateX(-13px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateX(-6.5px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateX(-4px);
    }
  
    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }


  
//* ANIMATION EFFECTS **//
  
  